<.container>
  <.live_component
    module={SurveyEngineWeb.CompanyLive.FormComponent}
    id={:form}
    title={@page_title}
    action={@live_action}
    company={@company}
    site_config={@site_config}
    user_id={@current_user.id}
    return_to={~p"/admin/companies"}
    locale={@locale}
  />
</.container>
