<.container>
  <.live_component
    module={SurveyEngineWeb.AdminCompanyLive.FormComponent}
    id={:form}
    title={@page_title}
    action={@live_action}
    company={@company}
    site_config={@site_config}
    return_to={~p"/admin/companies"}
  />
</.container>
