<.container class="py-16">
  <.live_component
    id="survey_answers_detail_info_client"
    module={SurveyEngineWeb.SurveyResponseLive.ResponseInfoComponent}
    survey_response={@survey_response}
  />
</.container>
