<.header>
  <:actions>
    <.link
      patch={~p"/admin/content/#{@behaviour}/#{@translation}/edit"}
      phx-click={JS.push_focus()}
    >
      <.button>Edit translation</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Description">{markdown_text(@translation.content_type, @translation.description)}</:item>
</.list>

<.back navigate={~p"/admin/content/#{@behaviour}"}>
  Back to translations
</.back>
