<.container>
  <.live_component
    module={SurveyEngineWeb.CompanyLive.FormComponent}
    id={:form}
    title={@page_title}
    action={@live_action}
    company={@company}
    return_to={~p"/company"}
  />
</.container>
