@import "tailwindcss/base";
@import "../../deps/petal_components/assets/default.css";
@import "../../deps/petal_framework/assets/css/combo-box.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./vendor/easymde.css";
@import "./vendor/daterangepicker.css";


.capitalize-first-letter::first-letter {
  text-transform: uppercase
}
/* This file is for your main application CSS */
.lock-header{
    overflow-y: auto;
    max-height: 800px;
    overflow-x: auto;
    max-width: 100%;
  }
  
  .lock-header thead th{
    position: sticky;
    top: 0;
    background-color:  #f3f4f4;
  }
  
  .lock-header thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }
  
  .lock-header tbody tr th {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  /* The message box */
#password-message {

  background: #ffffff;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  text-align: left;
}

#password-message h3 {
  font-size: 12px;
  margin-top: 0;
}

#password-message p {
  margin: 8px 0;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -20px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -20px;
  content: "✖";
}

/* Error message style */
.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
