<div>
  <h1>Se creo un nuevo registro conlasigueinte informacion</h1>

  <p>{@company.language}</p>
  <p>{@company.legal_name}</p>
  <p>{@company.country}</p>
  <p>{@company.town}</p>
  <p>{@company.city}</p>
  <p>{@company.agency_type}</p>
  <p>{@company.billing_currency}</p>
</div>
