<.flash_group flash={@flash} />
<.auth_layout title="Inicio de sesión">
  <:logo>
    <img class="h-8" src="https://bajau.com/content/What-we-do/Deployment/API-Gateway/api.png" />
  </:logo>
  {@inner_content}
</.auth_layout>
