<div class="max-w-3xl mx-auto px-4 py-10">
  <h1 class="text-3xl font-bold mb-6 text-center">{gettext("Policies")}</h1>
  <.description
    description={@policies.description}
    type={@policies.content_type}
    class="prose-sm"
  />
</div>
