<div class="flex gap-4">
  <div class="">
    <p>RESPUESTAS</p>
    <.card_survey_response survey_response={@survey_response} />
  </div>
  <div class="flex-1">
    <p>VALIDAR RESPUESTAS</p>
    <.form for={@form} id="validate-response-form" phx-change="validate" phx-submit="save">
      <.field
        label_class="capitalize-first-letter"
        type="radio-group"
        field={@form[:review_state]}
        group_layout="row"
        options={[{"Rechazado", "rejected"}, {"Aprobado", "approved"}]}
        label={gettext("response.review_state")}
      />
      <.field
        label_class="capitalize-first-letter"
        type="textarea"
        cols="5"
        field={@form[:review_comments]}
        label={gettext("response.comments")}
      />

      <div class="flex justify-end">
        <.button type="submit" phx-disable-with="Guardando..." label={gettext("save")} />
      </div>
    </.form>
  </div>
</div>
